name: CI Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Also run weekly, to make sure nothing has broken in the interim
  schedule:
    - cron: "0 0 * * 1"

jobs:
  run-tests:
    runs-on: ubuntu-latest
    environment: codecov
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install -r dev-requirements.txt

      - name: Run test suite
        run: |
          python -m coverage run -m pytest -vvv --color=yes

      - name: Print coverage report
        run: |
          coverage report && coverage xml

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
